
@{
    var loggedIn = User.Identity.IsAuthenticated;
   
}

@if (loggedIn)
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Identity" asp-action="Signout">Sair</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark">Hello @User.Identity.Name (
                                            @User.Claims.FirstOrDefault(c => c.Type == "Department"))</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Identity" asp-action="Signup">inscrever-se</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Identity" asp-action="Signin">Login</a>
    </li>
}
